/* INITIALISATION  ET BASE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* ===============================
   PAGE PROJET – BASE
================================ */

.project-page {
    padding-top: 100px;
    /* compense le header fixe */
    padding-bottom: 80px;
}

.project-article {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    gap: 80px;
}

.project-article h1 {
    font-size: 42px;
    font-weight: bolder;
    text-align: center;
    color: #000;
    position: relative;
}

/* Soulignement élégant */
.project-article h1::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background-color: #C89E54;
    margin: 20px auto 0;
    border-radius: 2px;
}

.project-article section,
.project-article h2 {
    scroll-margin-top: 100px;
}

.project-article h2 {
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #000;
}

.project-article p {
    font-size: 16px;
    line-height: 1.7;
    color: #000;
}

.project-block {
    background-color: #F0CD8C;
    border: 1px solid #C89E54;
    border-radius: 25px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-image {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.project-image img {
    
    max-width: 700px;
    max-height: 400px;
    border-radius: 20px;
    border: 1px solid #C89E54;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.project-image span {
    font-size: 14px;
    color: #333;
    font-style: italic;
    text-align: center;
}

.project-article a {
    color: #000;
    font-weight: bolder;
    text-decoration: none;
    position: relative;
}

.project-article a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: #7469A6;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.project-article a:hover::after {
    transform: scaleX(1);
}

@media (max-width: 768px) {

    .project-article {
        gap: 60px;
    }

    .project-article h1 {
        font-size: 32px;
    }

    .project-article h2 {
        font-size: 24px;
    }

    .project-block {
        padding: 25px;
    }
}
